@use "sass:math";

/* Multiplier */
$multiplier: var(--uiScaling, 1);
$test: 1;

/* Gaps */
$gapTiny: 0.16em;
$gapSmaller: 0.22em;
$gapSmall: 0.42em;
$gapMiddle: 0.62em;
$gapLarge: 0.85em;
$gapLarger: 2em;

/* Border Radius */
$borderRadiusSmall: var(--borderRadiusSmall, .125em);
$borderRadius: var(--borderRadius, .125em);
$borderRadiusLarge: var(--borderRadiusLarge, .2em);

/* Navbar */
$navbarHeight: 3em;
$navbarHeightSmall: 2em;

/* Images */
$imageHeightSmall: 3em;
$imageHeight: 5em;
$imageHeightLarge: 10em;

/* Blur */
$blur: 0.15em;
$blurLarge: 0.5em;

/* Lines */
$borderWidth: .1em;
$underlineWidth: .15em;
$barFocusIndicatorWidth: .3em;

/* Buttons */
$buttonMinWidth: 5em;
$buttonMinWidthCompact: 3em;