html[data-theme="light"] {
  --colorForegroundDark: #222222;
  --colorForegroundBright: #ffffff;
  --colorForegroundLink: var(--accentColor, #007acc);

  --colorBackgroundPrimary: #f7f7f7;
  --colorForegroundPrimary: var(--colorForegroundDark);

  --colorBackgroundSecondary: #efefef;
  --colorForegroundSecondary: #666666;
  
  --colorBackgroundTertiary: #e1e1e1;
  --colorForegroundTertiary: #666666;

  --colorBackgroundSuccess: hsl(107, 53%, 47%);
  --colorForegroundSuccess: var(--colorForegroundBright);

  --colorBackgroundWarning: hsl(39, 100%, 50%);
  --colorForegroundWarning: var(--colorForegroundBright);

  --colorBackgroundDanger: hsl(0, 69%, 62%);
  --colorForegroundDanger: var(--colorForegroundBright);

  --colorBackgroundAccent: var(--accentColor, #007acc);
  --colorForegroundAccent: var(--colorForegroundBright);
  
  --colorForegroundSunday: hsl(0, 71%, 58%);
  --colorBackgroundSelection: rgba(0, 122, 204, 0.15);
  --colorBorderSubtle: #d6d6d6;
  --colorBackgroundHover: #e9edf0;
}